<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score_name %>
    <%= form.text_field :score_name, id: :score_score_name %>
  </div>

  <div class="field">
    <%= form.label :score_acc %>
    <%= form.text_field :score_acc, id: :score_score_acc %>
  </div>

  <div class="field">
    <%= form.label :score_pp %>
    <%= form.text_field :score_pp, id: :score_score_pp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
